body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
}

.home-page-fully {
  align-items: center;
  justify-content: center;
}

/* ..........1st container design start.......... */

.main-1st {
  display: flex;
  background-color: rgb(83, 56, 56);
  height: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.home-page-side-button {
  background-color: rgb(66, 54, 54);
  height: 63%;
  width: 15%;
  margin-top: 13%;
  margin-left: -25%;
  margin-right: 0%;
  position: relative;
  border-radius: 10px;
}

.home-page-side-button-triangle {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.home-page-left-upper-container-update-hazard-button-box {
  display: flex;
  width: 90%;
  height: 40%;
  background-color: #746c6c;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-update-hazard-button {
  justify-content: center;
  color: white;
  font-size: 15px;
  background-color: #033b3b;
  height: 100%;
  width: 100%;
}

.home-page-left-upper-container-hazard-locations-button-box {
  display: flex;
  width: 90%;
  height: 40%;
  background-color: #746c6c;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.home-page-left-main-container-box {
  display: flex;
  width: 100%;
  height: 96%;
  background-color: #bb7878;
  margin-top: 0%;
  margin-left: 3%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.home-page-left-upper-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.home-page-left-upper-date-day-time-location-rain-percentage-container-box {
  display: flex;
  width: 100%;
  height: 45%;
  background-color: #382121;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-date-box {
  display: flex;
  width: 100%;
  height: 25%;
  background-color: #746c6c;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-left-upper-container-date-date-box {
  display: flex;
  width: 70%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-date-day-box {
  display: flex;
  width: 30%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: 4%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-date-date {
  color: white;
  font-size: 20px;
  margin-top: 3%;
  font-weight: bold;
}

.home-page-left-upper-container-date-day {
  color: white;
  font-size: 20px;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-left-upper-container-time-box {
  display: flex;
  width: 60%;
  height: 15%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 22%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-items: center;
}

.home-page-left-upper-container-time {
  color: white;
  font-size: 20px;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-left-upper-container-location-box {
  display: flex;
  width: 100%;
  height: 25%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 4%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-left-upper-container-location {
  color: white;
  font-size: 40px;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-left-upper-container-rain-percentage-box {
  display: flex;
  width: 60%;
  height: 15%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 22%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-left-upper-container-rain-percentage-text-box {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-rain-percentage-text {
  color: white;
  font-size: 18px;
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-left-upper-container-rain-percentage-amount-box {
  display: flex;
  width: 20%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: 8%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-rain-percentage-amount {
  color: white;
  font-size: 18px;
  margin-top: 25%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-left-upper-container-heat-rain-icon-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #382121;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-left-upper-container-heat-icon-box {
  display: flex;
  width: 100%;
  height: 85%;
  background-color: #746c6c;
  margin-top: 4%;
  margin-left: -1%;
  margin-right: 4%;
  margin-bottom: 4%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-heat-icon {
  color: white;
  font-size: 84px;
}

.home-page-left-upper-container-rain-icon-box {
  display: flex;
  width: 90%;
  height: 53%;
  background-color: #746c6c;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-rain-icon {
  height: auto;
  width: 50%;
  color: white;
}

.home-page-left-upper-container-rain-message-box {
  display: flex;
  width: 90%;
  height: 26%;
  background-color: #746c6c;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 9%;
  justify-content: center;
  align-items: center;
}

.home-page-left-upper-container-rain-message {
  color: white;
  font-size: 25px;
  justify-content: center;
  margin: 5%;
  font-weight: bold;
}

.home-page-left-lower-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: -6%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-wind-precipitation-fog-icon-box {
  display: flex;
  width: 100%;
  height: 32%;
  background-color: #382121;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-wind-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-wind-icon {
  height: auto;
  width: 50%;
  color: white;
}

.home-page-left-lower-container-wind-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-wind-message {
  margin-top: 5%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.home-page-left-lower-container-precipitation-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-precipitation-icon {
  height: auto;
  width: 50%;
  color: white;
}

.home-page-left-lower-container-precipitation-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-precipitation-message {
  margin-top: 5%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.home-page-left-lower-container-fog-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 14%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-fog-icon {
  height: auto;
  width: 60%;
  color: white;
}

.home-page-left-lower-container-fog-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 14%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-left-lower-container-fog-message {
  color: white;
  font-size: 15px;
  margin-top: 5%;
  font-weight: bold;
}

.home-page-left-lower-container-message-box {
  display: flex;
  width: 100%;
  height: 60%;
  background-color: #382121;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.home-page-left-lower-container-message-box1 {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #746c6c;
  margin-top: 8%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.home-page-left-lower-container-message-box1-text {
  justify-content: center;
  color: white;
  font-size: 30px;
  display: flex;
  font-weight: bold;
}

.home-page-left-lower-container-message-box2 {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}

.home-page-left-lower-container-message-box2-text {
  justify-content: center;
  color: white;
  font-size: 30px;
  display: flex;
  font-weight: bold;
}

/* ..........2nd container design start.......... */
.main-2nd {
  display: flex;
  background-color: rgb(83, 56, 56);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home-page-middle-main-container-box {
  display: flex;
  width: 100%;
  height: 96%;
  background-color: #bb7878;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.home-page-middle-upper-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-middle-upper-container-image-box {
  display: flex;
  width: 100%;
  height: 92%;
  background-color: #382121;
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.home-page-middle-lower-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-middle-lower-container-message-box {
  display: flex;
  width: 100%;
  height: 92%;
  background-color: #382121;
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.home-page-middle-lower-container-message {
  justify-content: center;
  color: rgb(75, 12, 12);
  font-size: 50px;
  display: flex;
  font-weight: bold;
  align-items: center;
}

/* ..........3rd container design start.......... */

.main-3rd {
  display: flex;
  background-color: rgb(83, 56, 56);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home-page-right-main-container-box {
  display: flex;
  width: 100%;
  height: 96%;
  background-color: #bb7878;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
}

.home-page-right-upper-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
}

.home-page-right-upper-container-header-box {
  display: flex;
  width: 100%;
  height: 15%;
  background-color: #382121;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}

.home-page-right-upper-container-header-location {
  color: white;
  font-size: 24px;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-right-upper-container-location {
  color: white;
  font-size: 40px;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-right-upper-container-location-box {
  display: flex;
  width: 100%;
  height: 15%;
  background-color: #382121;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}

.home-page-right-upper-container-rain-percentage-box {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #382121;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
}

.home-page-right-upper-container-rain-percentage-text-box {
  display: flex;
  width: 70%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: -7%;
  margin-right: -4%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-right-upper-container-rain-percentage-text {
  color: white;
  font-size: 20px;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-right-upper-container-rain-percentage-amount-box {
  display: flex;
  width: 15%;
  height: 70%;
  background-color: #613c3c;
  margin-top: 0%;
  margin-left: 8%;
  margin-right: -3%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-right-upper-container-rain-percentage-amount {
  color: white;
  font-size: 18px;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home-page-right-upper-container-heat-rain-icon-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #382121;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
}

.home-page-right-upper-container-heat-icon {
  color: white;
  font-size: 84px;
}

.home-page-right-upper-container-heat-icon-box {
  display: flex;
  width: 100%;
  height: 85%;
  background-color: #746c6c;
  margin-top: 1%;
  margin-left: -1%;
  margin-right: 4%;
  margin-bottom: 0%;
  justify-content: center;
}

.home-page-right-upper-container-rain-icon-box {
  display: flex;
  width: 90%;
  height: 54%;
  background-color: #746c6c;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-right-upper-container-rain-message-box {
  display: flex;
  width: 90%;
  height: 24%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}

.home-page-right-upper-container-rain-message {
  color: white;
  font-size: 24px;
  justify-content: center;
  margin: 5%;
  font-weight: bold;
}

.home-page-right-lower-container-box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #725959;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  justify-content: center;
}

.home-page-right-lower-container-wind-precipitation-fog-icon-box {
  display: flex;
  width: 100%;
  height: 32%;
  background-color: #382121;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-wind-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-wind-icon {
  height: auto;
  width: 50%;
  color: white;
}

.home-page-right-lower-container-wind-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-wind-message {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.home-page-right-lower-container-precipitation-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-precipitation-icon {
  height: auto;
  width: 50%;
  color: white;
}

.home-page-right-lower-container-precipitation-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.home-page-right-lower-container-precipitation-message {
  margin-top: 5%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.home-page-right-lower-container-fog-box {
  display: flex;
  width: 80%;
  height: 60%;
  background-color: #746c6c;
  margin-top: 5%;
  margin-left: 14%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-fog-icon {
  height: auto;
  width: 60%;
  color: white;
}

.home-page-right-lower-container-fog-message-box {
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 14%;
  margin-right: 0%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.home-page-right-lower-container-fog-message {
  color: white;
  font-size: 15px;
  margin-top: 5%;
  font-weight: bold;
}

.home-page-right-lower-container-message-box {
  display: flex;
  width: 100%;
  height: 61%;
  background-color: #382121;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
}

.home-page-right-lower-container-message-box1 {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #746c6c;
  margin-top: 7%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.home-page-right-lower-container-message-box1-text {
  justify-content: center;
  color: white;
  font-size: 30px;
  display: flex;
  font-weight: bold;
}

.home-page-right-lower-container-message-box2 {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #746c6c;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
}

.home-page-right-lower-container-message-box2-text {
  justify-content: center;
  color: white;
  font-size: 30px;
  display: flex;
  font-weight: bold;
}
